{% extends 'emp/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block body %}
    {% for emp in emplist %}
        <div>
            {{ emp.emp_name }}
            <br>

            <a href="{% url 'emp:delete_employee' emp_id=emp.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'emp:update_emp' emp_id=emp.id %}" class="btn btn-dark btn-sm">Edit</a>
        </div>  
    {% endfor  %}
{% endblock %}
</body>
</html>